@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .border-effect__wrapper {
    position: relative;
    cursor: pointer;
  }
  .border-effect__wrapper::before,
  .border-effect__wrapper::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.5s linear;
    @apply bg-color-primary-400;
  }
  .border-effect__content::before,
  .border-effect__content::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    @apply bg-color-primary-400;
  }
  .border-effect__wrapper:hover::before,
  .border-effect__wrapper:hover::after {
    width: 100%;
  }
  .border-effect__wrapper:hover .border-effect__content::before,
  .border-effect__wrapper:hover .border-effect__content::after {
    height: 100%;
  }
  .border-effect__target::before,
  .border-effect__target::after {
    transition-delay: 0.2s;
  }
  .border-effect__target .border-effect__content::before,
  .border-effect__target .border-effect__content::after {
    transition-delay: 0s;
  }
  .border-effect__target::before {
    right: 0;
    top: 0;
  }
  .border-effect__target::after {
    left: 0;
    bottom: 0;
  }
  .border-effect__target .border-effect__content::before {
    left: 0;
    top: 0;
  }
  .border-effect__target .border-effect__content::after {
    right: 0;
    bottom: 0;
  }
  .border-effect__target:hover::before,
  .border-effect__target:hover::after {
    transition-delay: 0s;
  }
  .border-effect__target:hover .border-effect__content::before,
  .border-effect__target:hover .border-effect__content::after {
    transition-delay: 0.2s;
  }


  .bio {
    @apply flex flex-col items-center gap-3;
  }

  .bio__photo {
    @apply rounded-full shadow-md shadow-color-primary-100 border-4 border-color-light-100;
  }

  .bio__name {
    @apply text-linktree-bio font-overlock font-emphasis text-color-light-100;
  }

  .sites {
    @apply flex flex-row items-center justify-center gap-3;
  }
  .sites__item {
    @apply text-linktree-site text-color-light-100 hover:text-color-secondary-100;
  }

  .linktree {
    @apply h-screen flex flex-col justify-between pt-6;
  }

  .linktree__background {
    @apply bg-gradient-to-r from-color-primary-300 via-color-primary-200 to-color-primary-300;
  }

  .linktree__content {
    @apply flex flex-col items-center justify-center gap-6;
  }

  .linktree__footer {
    @apply flex flex-col items-center justify-center text-linktree-footer text-color-light-100 pt-6 pb-3;
  }

  .linktree__links {
    @apply block w-full max-w-[80%] md:max-w-[550px];
  }

  .linktree__item {
    @apply flex items-center justify-center gap-2 px-3 py-3 mb-4 mx-auto border-2 border-color-light-100 rounded-full text-linktree-link font-roboto font-bold text-color-light-100  shadow-sm shadow-color-primary-100 hover:bg-color-light-100 hover:text-color-primary-100 hover:ease-out duration-200;
  }

  .container-base {
    @apply w-full xl:w-[800px] xl:mx-auto px-3;
  }
  .container-content {
    @apply container-base py-8;
  }

  .topbar {
    @apply sticky top-0 z-50 bg-gradient-to-r from-color-primary-300 via-color-primary-200 to-color-primary-300 py-2;
  }
  
  .topbar__wrapper {
    @apply container-base  flex flex-col md:items-center md:flex-row md:justify-between;
  }

  .topbar__header {
    @apply flex justify-between items-center;
  }

  .topbar__content {
    @apply hidden md:block md:flex md:items-center md:w-auto;
  }
 
  .brand  {
    @apply text-brand text-color-light-100 font-bold font-overlock hover:opacity-80;
  }

  .menu {
    @apply my-3 md:flex md:justify-between md:my-0;
  }
  .menu__item {
    @apply md:px-5 py-2 block flex items-center gap-2 hover:opacity-80 text-menu-item text-color-light-100 font-bold font-roboto;
  }
  .menu__trigger {
    @apply  md:hidden block w-6 cursor-pointer hover:opacity-80 text-menu-trigger text-color-light-100 mr-2;
  }

  .section {
    @apply font-bold text-section text-color-primary-400;
  }

  .divider {
    @apply border-color-primary-400 my-1;
  }

  .content{
    @apply font-regular text-content my-3 min-h-[300px];
  }

  .portfolio {
    @apply flex flex-col md:flex-row gap-4;
  }

  .workdone {
     @apply w-full md:w-[250px] border border-color-secondary-100 shadow-md;
  }

  .workdone__banner {
     @apply rounded-xl;
  }

  .workdone__content {
    @apply flex flex-col justify-between p-3;
  }

  .workdone__categorys {
    @apply flex;
  }
  .workdone__category {
    @apply lg:ml-auto block text-color-secondary-100 p-1 px-2 rounded-md text-workdone-category;
  }
  .workdone__date {
    @apply text-workdone-date text-color-secondary-100 font-bold;
  }

  .workdone__title {
    @apply text-workdone-title text-color-primary-400 font-bold;
  }

  .workdone__description {
    @apply text-workdone-description font-regular;
  } 
  
  .publication {
    @apply flex   border border-color-secondary-100 shadow-md mb-3 ;
  }
 
  .publication__content {
    @apply flex flex-col justify-between p-6;
  }

  .publication__header {
    @apply flex flex-col justify-between mb-3;
  }

  .publication__title {
     @apply text-publication-title font-bold text-color-primary-400  mb-3;
  }

  .publication__description {
    @apply text-publication-description font-regular;
  }

  .publication__tags {
    @apply flex flex-row items-center gap-2 text-color-primary-300  text-publication-tag mt-1;
  }

  .publication__tag {
    @apply font-bold; 
  }

  .publication__date {
    @apply text-publication-date font-regular;
  }

  .pagination {
    @apply flex justify-between;
  }

  .pagination__indication {
    @apply flex items-center gap-2 text-pagination-indication font-bold;
  }

  .pagination__action {
    @apply flex items-center gap-2 text-pagination-action text-color-primary-400 font-bold;
  }
}
